@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;

  background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('/images/games_background.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app-bg {
  min-height: 100vh;
  background: transparent;
  display: flex;
  justify-content: center;
}

.auth-layout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-layout {
  width: 100%;
  max-width: 1100px;
  padding: 40px 20px;
}


